<nav style="display: flex; height: 50px; background-color: green; align-items: center; padding: 5px;">
    <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/8/85/Smiley.svg/1200px-Smiley.svg.png"
        style="height: 40px;" />
    
    <input type="text" placeholder="Search" style="margin-left: 20px; border-radius: 100px; padding: 5px;" />
    <div style="align-items: center; display: flex; flex-grow: 1; justify-content: flex-end; gap: 10px;">
    <a href="/feed.html">Home</a>
    <a href="#">Notifications</a>

    <img style="border-radius: 50%; height: 50px;" src="https://claws.rit.edu/photos/getphotoid.php?Client=Marketing&UN=dxkvse&HASH=3602851e0b5ef0995985691d24c17f0e13d216e8&T=1761670373" />
    </div>
</nav>

<!-- example import code: 
 <iframe src="components/navbar.html" style="width: 100%; border: none;"></iframe>
 -->